body {
    background-color: rgb(233, 215, 207);
    text-align: center;
    color: rgb(83, 75, 75);
}

p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: rgb(167, 1, 78);
}